<div id = "stats" class="card">
  <div class="card-content">
    <h5>Officer Information for <%= @officer.proper_name %></h5><br />

    <b>Current unit:&nbsp;&nbsp;</b>
    <%= @officer.unit.name %><br /><br />

    <b>Current rank:&nbsp;&nbsp;</b>
    <%= @officer.rank %><br /><br />

    <b>SSN:&nbsp;&nbsp;</b>
    <%= @officer.ssn.insert(3, "-").insert(6, "-") %><br /><br />

    <b>Active duty?&nbsp;&nbsp;</b>
    <%= @officer.active? ? 'Yes' : 'No' %><br /><br />
    </div>
</div>

<div id = "current_assignments" class="card">
  <div class="card-content">
    <% if @officer.assignments.current.empty? %>
        <p>There are no current assignments for this officer</p>
    <% else %>
    <p>Current Assignments for <%= @officer.proper_name %></p>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Starting</th>
        </tr>
      </thead>
      <tbody>
        <% @officer.assignments.current.each do |assignment| %>
          <tr>
            <td><%= assignment.investigation.title %></td>
            <td><%= assignment.start_date %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
    </div>
</div>

<div id = "past_assignments" class="card">
  <div class="card-content">
    <% if @officer.assignments.past.empty? %>
        <p>There are no past assignments for this officer</p>
    <% else %>
    <p>Past Assignments for <%= @officer.proper_name %></p>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Ending</th>
        </tr>
      </thead>
      <tbody>
        <% @officer.assignments.past.each do |assignment| %>
          <tr>
            <td><%= assignment.investigation.title %></td>
            <td><%= assignment.end_date %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  </div>
</div>


<div class="card-action">
  <% if can? :new, eval("Assignment") %>
    <%= link_to "Add a new assignment", new_assignment_path(officer_id: @officer.id) %>
  <% end %>
</div>

