<div class="row">
  <div class="col s8">
    <h4>New Assignment For Officer: <%= @officer.name %></h4>
    <%= simple_form_for(@assignment) do |a| %>
      <div class="row">
        <div class="form-inputs">
            <%= a.input :officer_id, as: :hidden, input_html: { value: @officer.id } %>
            <%= a.input :investigation_id, collection: Investigation.alphabetical.is_open.to_a, include_blank: true %>
        </div>
      </div>
      <div class="row">
        <div class="form-actions col s8">
          <%= a.button :submit %>
        </div>
      </div>
    <% end %>
  </div>
</div>
